---
layout: default
script: /js/screen.js
---
<div class="container" ng-show="shared.remote.store">
    <div class="row" ng-hide="shared.remote.customer.name">
        <div class="col s12">
            <h1 class="white-text center">
                Welcome to the Cat's Closet!
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col s8" ng-show="shared.remote.customer.name">
            <h4 class="white-text">
                <span ng-bind="shared.remote.customer.name"></span>,
                welcome to the Cat's Closet!
            </h4>
            <p class="white-text" ng-show="shared.remote.purchases">
                The current balance in your account is <span ng-bind="shared.remote.customer.balance | currency"></span>.
                To the right, you will see the items you are purchasing.
            </p>
        </div>
        <div class="col s4" ng-show="shared.remote.purchases">
            <div class="collection with-header">
                <a class="collection-item" ng-repeat="purchase in shared.remote.purchases">
                    <span ng-bind="purchase.product.name"></span>
                    (<span ng-bind="purchase.product.price | currency"></span>)
                </a>
                <div class="collection-item" ng-show="shared.remote.total < 0 || shared.remote.total > shared.remote.customer.balance">
                    <p class="red-text">
                        NOT ENOUGH MONEY IN ACCOUNT
                    </p>
                </div>
                <a class="collection-item" ng-hide="shared.remote.total < 0 || shared.remote.total > shared.remote.customer.balance">
                    <h4>
                        <span ng-bind="shared.remote.total | currency"></span>
                    </h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="shared.remote.total <= 0 || shared.remote.total > shared.remote.customer.balance">
        <div class="collection with-header">
            <a class="collection-item">
                <h4>
                    <div class="row">
                        <div class="col s3 center">
                            <span ng-bind="shared.remote.customer.balance | currency"></span>
                        </div>
                        <div class="col s1 center">
                            -
                        </div>
                        <div class="col s4 center">
                            <span ng-bind="shared.remote.total | currency"></span>
                        </div>
                        <div class="col s1 center">
                            =
                        </div>
                        <div class="col s3 center">
                            <span ng-bind="shared.remote.customer.balance - shared.remote.total | currency"></span>
                        </div>
                    </div>
                </h4>
            </a>
        </div>
    </div>
    <div class="row" ng-show="shared.remote.promptPass">
        <div class="col s2">
            <h5 class="white-text">
                Pin:
            </h5>
        </div>
        <div class="col s10 input-field">
            <input type="password" ng-model="shared.local.pin" />
        </div>
    </div>
</div>
