<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body class="blue accent-3" ng-app="app" ng-controller="controller">
        <header>
            {% include header.html %}
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            {% include footer.html %}
        </footer>
        <script>
            var app = angular.module("app", []);
            app.controller("controller", function($scope) {
                if ( window.angularCallback ) {
                    angularCallback($scope);
                }
                window.$scope = $scope;
            });
        </script>
    </body>
</html>
